dist: trusty
language: python
python:
- 2.7
- 3.6
env:
  global:
    - DISPLAY=:99.0
matrix:
  include:
    - python: 2.7
      env: TOXENV=flake8
    - python: 2.7
      env: TOXENV=docs
    - python: 2.7
      env: FIREFOX=nightly
      addons:
        apt:
          packages:
            - jwm
        firefox: latest-nightly
    - python: 2.7
      env: FIREFOX=dev
      addons:
        apt:
          packages:
            - jwm
        firefox: latest-dev
    - python: 2.7
      env: FIREFOX=beta
      addons:
        apt:
          packages:
            - jwm
        firefox: latest-beta
    - python: 2.7
      env: FIREFOX=release
      addons:
        apt:
          packages:
            - jwm
        firefox: latest
    - python: 2.7
      env: FIREFOX=esr
      addons:
        apt:
          packages:
            - jwm
        firefox: latest
    - python: 3.6
      env: TOXENV=flake8
    - python: 3.6
      env: TOXENV=docs
    - python: 3.6
      env: FIREFOX=nightly
      addons:
        apt:
          packages:
            - jwm
        firefox: latest-nightly
    - python: 3.6
      env: FIREFOX=dev
      addons:
        apt:
          packages:
            - jwm
        firefox: latest-dev
    - python: 3.6
      env: FIREFOX=beta
      addons:
        apt:
          packages:
            - jwm
        firefox: latest-beta
    - python: 3.6
      env: FIREFOX=release
      addons:
        apt:
          packages:
            - jwm
        firefox: latest
    - python: 3.6
      env: FIREFOX=esr
      addons:
        apt:
          packages:
            - jwm
        firefox: latest
  exclude:
    - python: 2.7
    - python: 3.6
install:
  pip install tox-travis beautifulsoup4 requests
notifications:
  webhooks:
    urls:
      - "https://silne30-foxpuppet.getbadges.io/api/app/webhook/b71ddba7-6feb-412c-8728-3efef552d02b"
    on_start: "change"
before_script:
  - python geckodriver.py
  - mkdir $HOME/geckodriver && tar xvf geckodriver.tar.gz -C $HOME/geckodriver
  - export PATH=$HOME/geckodriver:$PATH
  - firefox --version
  - sh -e /etc/init.d/xvfb start
  - sleep 10
  - jwm &
  - sleep 10
script:
  - tox
