[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==3.141.0"
foxpuppet = {path = "."}
pytest = "*"

[dev-packages]
coveralls = "==1.5.1"
flake8 = "==3.7.5"
flake8-docstrings = "==1.3.0"
flake8-isort = "==2.6.0"
pytest = "==4.1.1"
pytest-cov = "==2.6.1"
pytest-selenium = "==1.15.1"
