[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

selenium = "==3.14.0"


[dev-packages]

coveralls = "==1.5.0"
flake8 = "==3.5.0"
flake8-docstrings = "==1.3.0"
flake8-isort = "==2.5"
pytest = "==3.7.4"
pytest-cov = "==2.5.1"
pytest-selenium = "==1.13.0"
